<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/auth.css">
    <title>Document</title>
</head>

<body>
    <div class="main-frame">
        <img class="login-bg">
        <div class="login-frame">
            <img src="/assets/logo.svg" class="logo">
            <h2 class="title">NexusBuilds</h2>

            <div class="input-wrapper">

                <h1 class="forgot-pass">Forgot Password</h1>
                <p class="forgot-pass">Enter your e-mail address and we’ll give you reset instructions</p>

                <div class="username-frame forg-pass-frame">
                    <img src="/assets/mail.svg" class="input-icon forg-pass-icon">
                    <input type="email" placeholder="Username" class="forgot-pass" id="forgpass-input">
                </div>
                
                <button class="forgot-pass btn">Submit</button>
                <p class="forgot-pass return">Return to <span><a href="<%= '/auth/login'%>">Sign-In</a></span></p>
            </div>

            
        </div>
    </div>
</body>

</html>