<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/auth.css">
    <title>Document</title>
</head>

<body>

    <div class="main-frame">
        <img class="login-bg">

        <div class="login-frame">
            <img src="/assets/logo.svg" class="logo">
            <h2 class="title">NexusBuilds</h2>

            <div class="input-wrapper">
                <h1 class="sign-up-title sign-up-text">Sign Up</h1>
                <p class="sign-up-title">Already have an <span><a href="<%= '/auth/login' %>">Account</a></span>?</p>

                <div class="uname-email-wrapper">
                    <input type="text" placeholder="Username" class="sign-up-inputs uname-input">
                    <input type="email" placeholder="Email" class="sign-up-inputs sign-up email-input">
                </div>

                <div class="sign-up-pword-frame">
                    <img src="/assets/eye-slash.svg" alt="show">
                    <input type="password" placeholder="Password" class="sign-up-inputs sign-up-pword pword-input">
                </div>
                <div class="sign-up-pword-frame">
                    <img src="/assets/eye-slash.svg" alt="show">
                    <input type="password" placeholder="Confirm Password" class="sign-up-inputs sign-up-pword cpword-input">
                </div>

                <button class="signup-btn">
                    Sign Up
                </button>

                <div class="or">
                    <hr>
                    <p>or</p>
                    <hr>
                </div>

                <button class="login-via">
                    <img src="/assets/google.svg">
                    <p>Login via Gmail</p>
                </button>

                <button class="login-via">
                    <img src="/assets/facebook-login.svg" class="fb-icon">
                    <p>Login via Facebook</p>
                </button>
            </div>

        </div>
    </div>

</body>

<script src="signup.js"></script>

</html>