<div class="item">
    <div class="pic">
        <img src="/assets/ryzen-removebg-preview 1.svg" alt="" height="256px">
    </div>
    <div class="descrip">
        <div class="mainDescrip">
            <div class="top">
                <div class="left">
                    <p>Processor</p>
                    <h5>AMD ryzen 3200g</h5>
                </div>
                <div class="right">
                    <img src="/assets/star.svg" alt="" height="14px">
                    <p>4.9</p>
                </div>
            </div>
            <div class="bot">
                <div class="left">
                    <span>
                        <h6>$15,000.00</h6>
                    </span>
                    <span>
                        <p>$18,000.00</p>
                    </span>
                </div>
                <div class="right">
                    <p>15 in stock</p>
                </div>
            </div>
        </div>
        <div class="btn">
            <p>Add to Cart</p>
        </div>
    </div>
</div>