 <main>
        <div class="thumbnail">
            <img src="/build_thumbnail.svg" alt="thumbnail">
            <p>Build Tutorial: <a href="#">YT Link</a></p>
        </div>

        <div class="build-details-wrapper">
            <p class="section-title">Build Components</p>
            <div class="build-details">
                <div class="build-details-c1">
                    <div class="item-detail">
                        <img src="/processor.svg" alt="Processor">
                        <p>
                            <span>Processor</span><br>
                            Item Name
                        </p>
                        <p>₱sale price ₱original price</p>
                    </div>
                    <div class="item-detail">
                        <img src="/gpu.svg" alt="Graphics Card">
                        <p>
                            <span>Graphics Card</span><br>
                            Item Name
                        </p>
                        <p>₱sale price ₱original price</p>
                    </div>
                    <div class="item-detail">
                        <img src="/motherboard.svg" alt="Motherboard">
                        <p>
                            <span>Motherboard</span><br>
                            Item Name
                        </p>
                        <p>₱sale price ₱original price</p>
                    </div>
                    <div class="item-detail">
                        <img src="/storage.svg" alt="Storage">
                        <p>
                            <span>Storage</span><br>
                            Item Name
                        </p>
                        <p>₱sale price ₱original price</p>
                    </div>
                    <div class="item-detail">
                        <img src="/ram.svg" alt="RAM">
                        <p>
                            <span>RAM</span><br>
                            Item Name
                        </p>
                        <p>₱sale price ₱original price</p>
                    </div>
                    <div class="item-detail">
                        <img src="/case.svg" alt="Case">
                        <p>
                            <span>Case</span><br>
                            Item Name
                        </p>
                        <p>₱sale price ₱original price</p>
                    </div>
                </div>
                <div class="build-details-c2">
                    <div class="item-detail">
                        <img src="/power.svg" alt="Power Supply">
                        <p>
                            <span>Power Supply</span><br>
                            Item Name
                        </p>
                        <p>₱sale price ₱original price</p>
                    </div>
                    <div class="item-detail">
                        <img src="/cooler.svg" alt="Cooler">
                        <p>
                            <span>Cooler</span><br>
                            Item Name
                        </p>
                        <p class="item-price">₱sale price ₱original price</p>
                    </div>
                    <div class="build-details-descr">
                        <p>PC Build Name</p>

                        <div class="descr-star-wrapper">
                            <img src="/star_fill.svg" alt="Star">
                            <p>4.9</p>
                        </div>

                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas convallis elit elit, non consequat leo consectetur at. Nunc interdum consectetur pellentesque. Quisque efficitur rutrum bibendum. Proin at ornare ligula, eget sagittis ex. </p>
                    <div class="rate-price">
                        <div class="rate-star-wrapper">
                            <img src="/star_hallow.svg" alt="rate">
                        </div>
                        <p>₱15,000.00 <span>₱18,000.00</span></p>
                    </div>
                    <div class="order-wrapper">
                        <div class="hand-wrapper">
                            <img src="/hand.svg" alt="Edit">
                        </div>
                        <button>Get Build</button>
                    </div>
                </div>
            </div>

            <div class="extras">
                <p>Extras</p>
                <hr>

                <div class="item-detail">
                    <img src="/power.svg" alt="Power Supply">
                    <p>
                        <span>Power Supply</span><br>
                        Item Name
                    </p>
                    <p>₱sale price ₱original price</p>
                </div>

            </div>
        </div>
        
    </main>
    <link rel="stylesheet" href="PcProfile.css">