<footer>
    <hr>
    <div class="main">
        <div class="left">
            <div class="top">
                <img src="/assets/logo.svg" alt="" height="24px">
                <p class="footer-title">NexusBuilds</p>
            </div>
            <div class="bot">
                <p>Follow us in</p>
                <div class="btn"><img src="/assets/Facebook.svg" alt="" height="36px"></div>
                <div class="btn"><img src="/assets/Twitter.svg" alt="" height="36px"></div>
                <div class="btn"><img src="/assets/Instagram.svg" alt="" height="36px"></div>
                <div class="btn"><img src="/assets/Youtube.svg" alt="" height="36px"></div>
            </div>
        </div>
        <div class="mid">
            <p>© 2025 NexusBuilds. All rights reserved.</p>
        </div>
        <div class="right">
            <p>Terms of Services</p>
            <p>Customer Service</p>
            <p>About Us</p>
        </div>
</footer>