<header>
    <div class="header-wrapper">
        <div class="headLeft">
            <div class="logoName">
                <img src="/assets/logo.svg" alt="" height="32px">
                <h1>NexusBuilds</h1>
            </div>
        </div>
        <div class="headRight">
            <div class="headerBtn">
                <h2><a href="<%= '/' %>">Home</a></h2>
            </div>
            <div class="headerBtn">
                <h2><a href=" <%= '/shop' %> ">Shop</a></h2>
            </div>
            <div class="headerBtn">
                <h2><a href=" <%= '/pcBuilder' %> ">PC Builder</a></h2>
            </div>

            <span class="material-symbols-outlined cart-icon" onclick="">shopping_cart</span>
            <span class="material-symbols-outlined person-icon" onclick="location.href='/userprofile'">person</span>


        </div>
    </div>
</header>

<script defer>

</script>