<section class="homeBlock">
            <div class="sectionL">
                <div>
                    Insert image head
                    (Temporary)
                </div>
            </div>
            <div class="sectionR">
                <div class="top">
                    <p>Build Your </p>
                    <h6> Ultimate</h6>
                    <p>Gaming PC</p>
                </div>
                <div class="mid">
                    <p>Premium components, competitive prices, and expert support for creating the Ultimate Gaming PC.</p>
                </div>
                <div class="bot">
                    <div class="btn build">Start Building</div>
                    <div class="btn component">Browse Components</div>
                </div>
            </div>
        </section>