<section class="block2">
            <div class="descripText">
                <h3>Featured Products</h3>
                <p>Looking for something special? These are our favorite finds right now. Great quality, great deals, and perfect for treating yourself or someone you love.</p>
            </div>
            <div class="itemMenu">
                <div class="item">
                    <div class="pic">
                        <img src="assets/ryzen-removebg-preview 1.svg" alt="" height="256px">
                    </div>
                    <div class="descrip">
                        <div class="mainDescrip">
                            <div class="top">
                                <div class="left">
                                    <p>Processor</p>
                                    <h5>AMD ryzen 3200g</h5>
                                </div>
                                <div class="right">
                                    <img src="assets/Vector.svg" alt="" height="14px">
                                    <p>4.9</p>
                                </div>
                            </div>
                            <div class="bot">
                                <div class="left">
                                    <span><h6>$15,000.00</h6></span>
                                    <span><p>$18,000.00</p></span>
                                </div>
                                <div class="right">
                                    <p>15 in stock</p>
                                </div>
                            </div>
                        </div>
                        <div class="btn"><p>Add to Cart</p></div>
                    </div>
                </div>
                  <div class="item">
                    <div class="pic">
                        <img src="assets/ryzen-removebg-preview 1.svg" alt="" height="256px">
                    </div>
                    <div class="descrip">
                        <div class="mainDescrip">
                            <div class="top">
                                <div class="left">
                                    <p>Processor</p>
                                    <h5>AMD ryzen 3200g</h5>
                                </div>
                                <div class="right">
                                    <img src="assets/Vector.svg" alt="" height="14px">
                                    <p>4.9</p>
                                </div>
                            </div>
                            <div class="bot">
                                <div class="left">
                                    <span><h6>$15,000.00</h6></span>
                                    <span><p>$18,000.00</p></span>
                                </div>
                                <div class="right">
                                    <p>15 in stock</p>
                                </div>
                            </div>
                        </div>
                        <div class="btn"><p>Add to Cart</p></div>
                    </div>
                </div>
                <div class="view">
                    <img src="assets/View btn.svg" alt="">
                    <p>View All</p>
                </div>
            </div>
        </section>