@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0px;
    padding: 0px;
    color: rgb(192, 192, 192);
}

body {
    margin: 0px;
    padding: 200px;

    font-family: "Montserrat";
    background-color: #0B1222;
}

main {
    background: linear-gradient(112.91deg,
            rgba(25, 33, 54, 1) 0%,
            rgba(24, 31, 48, 1) 100%);
    border-radius: 22px;

    display: flex;
    flex-flow: row;
    padding: 2rem;
}

.build-details {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: auto;
}

.build-details-c1 {
    display: flex;
    flex-flow: column;
    width: 100%;
    gap: 0.8rem;

    margin: 0px 0.5rem;
}

.build-details-c2 {
    display: flex;
    flex-flow: column;
    width: 100%;
    gap: 0.5rem;
}

.item-detail {
    background: rgba(73, 73, 73, 0.14);
    border-radius: 11px;
    border-style: solid;
    border-color: #494848;
    border-width: 1px;

    display: flex;
    padding: 0.5rem;
}

.item-detail img {
    width: auto;
    height: 3rem;
    margin-right: 0.8rem;
}

.item-detail p {
    align-self: center;
}

.item-detail p:nth-child(3) {
    text-align: end;
    margin-left: auto;
}

.item-detail span {
    font-weight: bold;
}

.build-details-descr {
    display: flex;
    justify-content: space-between;
}

.section-title {
    margin: 0.5rem 0.5rem;
    font-size: 1.5rem;
}

.build-details-descr p {
    font-weight: bold;
    align-self: center;
    font-size: 1.5rem;
}

.descr-star-wrapper {
    display: flex;
    align-items: center;
}

.descr-star-wrapper p {
    font-weight: bold;
    font-size: 20px;
    margin: 0.4rem;
}

.rate-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rate-price p {
    font-weight: bold;
    font-size: 2rem;
    color: #e0e0e0;
}

.rate-price p > span {
    font-weight: normal;
    text-decoration: line-through;
    font-size: 1.5rem;
    color: #8f8f8f;
}

.rate-star-wrapper {
    background-color: transparent;
    border-radius: 100%;
    padding: 0.25rem;
    
    transition: background-color 0.25s;;
}

.rate-star-wrapper:hover {
    cursor: pointer;
    background-color: #ffffff3d;
}

.hand-wrapper {
    display: flex;
    justify-items: center;
    align-items: center;

    background-color: white;
    border: none;
    border-radius: 100%;

    padding: 10px;
    transition: background-color 0.5s;
}

.hand-wrapper:hover {
    background-color: #e0e0e0c8;
    cursor: pointer;
}

.order-wrapper {
    display: flex;
}

.order-wrapper button {
    background-color: #b949ff;
    background: linear-gradient(94.32deg,
            rgb(185, 73, 255 0.8) 0%,
            rgba(136, 24, 255, 0.5) 100%);
    border: none;
    border-radius: 11px;

    width: 100%;
    margin-left: 0.5rem;

    font-size: 1.40rem;
    font-weight: bold;
    color: #E8E8E8;

    transition: background-color 0.25s;
}

.order-wrapper button:hover {
    background-color: #a93bed;
    cursor: pointer;
}

.extras p {
    margin: 0.5rem 0px 0px 0.5rem;
}

.extras hr {
    border: none;
    height: 0.05rem;
    background-color: #d3d3d3;
    margin: 0.25rem 50% 0.25rem 0.5rem;
}

.thumbnail img{
    width: 35rem;
    margin-right: 1rem;
}

.extras > .item-detail {
    width: 47.5%;
    margin: 0.5rem;
}
