<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/shipOrders.css">
    <link rel="stylesheet" href="/shopAdminNav.css">
</head>
<body>
    <div class="contain">
        <%- include('../GeneralPartials/shopAdminNavBar') %>
        <div class="container">
        <div class="top">
            <p>My Products</p>
        </div>
        <section class="product">
           <div class="pic"><h4>Insert img</h4></div>
            <div class="descrip">
                <h2>Jon Clyde Dagaang</h2>
                <p>Nvidia GeForce RTX 3060</p>
                <p>Address address address</p>
            </div>
            <div class="btns">
                <img src="/check.svg" alt="" height="50px">
                <img src="/close.svg" alt="" height="50px">
            </div>
        </section>
        </div>
    </div>
</body>
</html>