<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/myProducts.css">
    <link rel="stylesheet" href="/shopAdminNav.css">
</head>
<body>
    <div class="contain">
        <%- include('../GeneralPartials/shopAdminNavBar') %>
         <div class="container">
        <div class="top">
            <p>My Products</p>
            <div class="addBtn"><p>Add Product</p></div>
        </div>
        <section class="product">
           <div class="pic"><h4>Insert img</h4></div>
            <div class="descrip">
                <h2>Product Name</h2>
                <p>Product Category</p>
            </div>
            <div class="btns">
                <img src="assets/eye.png" alt="" height="50px">
                <img src="assets/pencil.png" alt="" height="50px">
                <img src="assets/trash.png" alt="" height="50px">
            </div>
        </section>
    </div>
    </div>
</body>
</html>