body {
    margin: 0;
    padding: 0;
    background-color:#0B1222 ;
    color: white;
}

.productPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 20px;
    width: 100%;
}

.productPageTop {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    width: 100%;
}

.addProduct {
    background-color: #1E2A38;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: auto;    
    cursor: pointer;
}

.addProduct:hover {
    background-color: #2A3B4D;
}

.no-products {
    text-align: center;
    margin-top: 20px;
}

.no-products p {
    font-family: inter;
    font-style: bold    ;
    font-size: 32px;
}