
.headerBtn {
    padding: 15px;
    border-radius: 10px;
    margin: 5px;
}

.logoName {
    display: flex;
    align-items: center;
}

.headerBtn>h2 {
    font-family: inter;
    font-style: normal;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: white;
    transition: 0.25s;
}

a:hover {
    color: #8A1DFF;
    cursor: pointer;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    flex-direction: row;

    background-color: #121826;


    padding: 0;
    color: white;
    box-sizing: border-box;
}

.header-wrapper {
    margin: 0px 10rem;
    display: flex;
    flex-flow: row;
    width: 100%;

    padding: 0.6rem 0px;
}

.headRight {
    display: flex;
    margin-left: auto;
    border: none;
}

.headLeft {
    display: flex;
    align-items: center;
    border: none;
}

.logoName>h1 {
    font-family: inter;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    background: linear-gradient(90deg, #B949FF, #8A1DFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logoName>* {
    padding: 5px;
}

.headerBtn {
    padding: 15px;
    border-radius: 10px;
    margin: 5px;
    align-self: center;
}

.sunny-icon {
    color: #ffff00;
    transition: color 0.25s;
}

.sunny-icon:hover {
    color: #ffff00b7;
}

.cart-icon {
    transition: color 0.25s;
}

.cart-icon:hover {
    color: #b6b6b6;
}

.person-icon {
    transition: color 0.25s;
}

.person-icon:hover {
    color: #b6b6b6
}

.material-symbols-outlined {
    margin: 0px 0.75rem;
    align-self: center;
}

.material-symbols-outlined:hover {
    cursor: pointer;
}


@media screen and (max-width: 1024px) {
    header {
        position: sticky;
        top: 0;
        z-index: 1000;
        display: flex;
        flex-direction: row;

        background-color: #121826;

    margin-right: -250px;
        padding: 0;
        color: white;
        box-sizing: border-box;
    }

    .header-wrapper {
        margin: 0px 10rem;
        display: flex;
        flex-flow: row;
        width: 100%;
        

        padding: 0.6rem 0px;
    }
}

