.item{
        background-color: #313131;
        width: 300px;
        padding: 10px;
        margin: 20px;
        border-radius: 20px;
    }

    .item:hover{
        animation: itemHover;
        animation-duration: .4s;
        animation-fill-mode: forwards;
    }

    .item>div.pic{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 10px;
    }
    .mainDescrip>div{
        padding: 5px;
    }

    .mainDescrip .top .left>p{
        color: gray;
        font-family: inter;
        font-size:14px;
        font-style: normal;
    }

    .mainDescrip .top .left>h5{
        color: white;
        font-family: inter;
        font-size:18px;
        font-style: normal;
    }

    .mainDescrip .top .right{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-left: auto;
    }

    .mainDescrip .top .right>p{
        color: white;
        font-family: inter;
        font-size:18px;
        font-style: normal;
    }

    .mainDescrip .bot>div{    
        flex-direction: row;
        display: flex;
    }
    
    .mainDescrip .bot .right{    
        flex-direction: row;
        display: flex;
        margin-left: auto;
        color:green
        
    }

    .mainDescrip .bot .right>p{    
        font-style: normal;
         font-family: inter;
         font-size: 16px;
        
    }

    

    .mainDescrip .bot .left{
        color: gray;
        font-family: inter;
        font-style: normal;
    }

    .mainDescrip .bot .left>span>h6{
        font-size: 20px;
        font-style: bold;
    }

    .mainDescrip .bot .left>span>p{
        font-size: 12px;
        justify-content: baseline;
        text-decoration: line-through;
        margin: 5px;
        position: relative;
    }

    .descrip .btn{
        background: linear-gradient(90deg,#912FAE,#6C008C);
        color:white;
        align-items: center;
        justify-content: center;
        padding: 10px;
        display: flex;
        border-radius: 10px;        
    }

    .descrip .btn:hover{        
        animation: itemHover;
        animation-duration: .4s;
        animation-fill-mode: forwards;
    }

    .descrip .btn>p{
        font-family: inter;
        font-style: bold;  
        font-size: 20px;
    }
