<main>


        <div class="page-label">
            <h2>Custom PC Builder</h2>
            <p>Select components for your dream gaming rig</p>
        </div>

        <div class="components-wrapper">

            <div class="components-card">
                <h2 style="margin: 20px 0px;">Select Components</h2>

                <div class="item-card-container">
                    <img src="/processor_builder.svg" alt="processor">
                    <p><span>Processor</span><br>Not Selected</p>
                    <button>Select</button>
                </div>
                <div class="item-card-container">
                    <img src="/gpu.svg" alt="processor">
                    <p><span>Graphics Card</span><br>Not Selected</p>
                    <button>Select</button>
                </div>
                <div class="item-card-container">
                    <img src="/motherboard.svg" alt="processor">
                    <p><span>Motherboard</span><br>Not Selected</p>
                    <button>Select</button>
                </div>
                <div class="item-card-container">
                    <img src="/storage.svg" alt="processor">
                    <p><span>Storage</span><br>Not Selected</p>
                    <button>Select</button>
                </div>
                <div class="item-card-container">
                    <img src="/ram.svg" alt="processor">
                    <p><span>RAM</span><br>Not Selected</p>
                    <button>Select</button>
                </div>
                <div class="item-card-container">
                    <img src="/case.svg" alt="processor">
                    <p><span>Case</span><br>Not Selected</p>
                    <button>Select</button>
                </div>
                <div class="item-card-container">
                    <img src="/power.svg" alt="processor">
                    <p><span>Power Supply</span><br>Not Selected</p>
                    <button>Select</button>
                </div>
                <div class="item-card-container">
                    <img src="/cooler.svg" alt="processor">
                    <p><span>Cooler</span><br>Not Selected</p>
                    <button>Select</button>
                </div>

                <div class="add-extras">

                    <hr>
                    <p>Add Extras</p>
                    <button>Add</button>

                </div>

            </div>

            <div class="cart-card">
                <p class="cart-card-label">
                    <span>Your Custom Build</span> <br>
                    Start adding components to build your dream pc
                </p>

                <div class="item-card-cart">
                    <img src="/processor-cart-icon.svg" alt="processor">
                    <p>
                        <span>Processor</span> <br>
                        Not Selected
                    </p>
                    <!-- <p style="margin-left: auto; margin-right: 10px;">₱ Price</p> -->
                </div>
                <div class="item-card-cart">
                    <img src="/gpu-cart-icon.svg" alt="Graphics Card">
                    <p>
                        <span>Graphics Card</span> <br>
                        Not Selected
                    </p>

                    <!-- <p style="margin-left: auto; margin-right: 10px;">₱ Price</p> -->
                </div>
                <div class="item-card-cart">
                    <img src="/motherboard-cart-icon.svg" alt="Motherboard">
                    <p>
                        <span>Motherboard</span> <br>
                        Not Selected
                    </p>

                    <!-- <p style="margin-left: auto; margin-right: 10px;">₱ Price</p> -->
                </div>
                <div class="item-card-cart">
                    <img src="/storage-cart-icon.svg" alt="Storage">
                    <p>
                        <span>Storage</span> <br>
                        Not Selected
                    </p>

                    <!-- <p style="margin-left: auto; margin-right: 10px;">₱ Price</p> -->
                </div>
                <div class="item-card-cart">
                    <img src="/ram-cart-icon.svg" alt="RAM">
                    <p>
                        <span>RAM</span> <br>
                        Not Selected
                    </p>

                    <!-- <p style="margin-left: auto; margin-right: 10px;">₱ Price</p> -->
                </div>
                <div class="item-card-cart">
                    <img src="/case-cart-icon.svg" alt="Case">
                    <p>
                        <span>Case</span> <br>
                        Not Selected
                    </p>

                    <!-- <p style="margin-left: auto; margin-right: 10px;">₱ Price</p> -->
                </div>
                <div class="item-card-cart">
                    <img src="/power-cart-icon.svg" alt="power supply">
                    <p>
                        <span>Power Supply</span> <br>
                        Not Selected
                    </p>

                    <!-- <p style="margin-left: auto; margin-right: 10px;">₱ Price</p> -->
                </div>
                <div class="item-card-cart">
                    <img src="/cooler-cart-icon.svg" alt="coooler">
                    <p>
                        <span>Cooler</span> <br>
                        Not Selected
                    </p>

                    <!-- <p style="margin-left: auto; margin-right: 10px;">₱ Price</p> -->
                </div>

                <hr>
                <div class="charges-wrapper">
                    <p>Total</p>
                    <p style="text-align: end;">₱0.00</p>
                    <div class="img-wrapper">
                        <img src="/save.svg" alt="save">
                    </div>
                    <button>Check Out</button>
                </div>

            </div>

        </div>


    </main>
    <link rel="stylesheet" href="PcBuilder.css">
