<div class="mainDescription">
     <div class="descrip">
                <div class="top">
                    <div class="left">
                        <h2>PC Components</h2>
                        <p>Gear up for peak performance! Find powerful CPUs, high-end GPUs, fast memory, and top-tier storage to build your dream gaming rig. These components are made for serious players.</p>
                    </div>
                    <div class="right">
                        <input type="text" placeholder="Search Components" >
                    </div>
                </div>
                <div class="filters">
                    <div class="filterItem" id="allComponents">
                        <img src="" alt="">
                        <input type="button" value="All Components" class="filterPart all">
                    </div>
                    <div class="filterItem" id="Processor">
                        <img src="assets/processor-svgrepo-com 1.svg" alt="">
                        <input type="button" value="Processor" class="filterPart Processor">
                    </div>
                    <div class="filterItem" id="GraphicsCard">
                        <img src="assets/gpu-mining 2.svg" alt="">
                        <input type="button" value="Graphics Card" class="filterPart GraphicsCard">
                    </div>
                    <div class="filterItem" id="Motherboard">
                        <img src="assets/motherboard 2.svg" alt="">
                        <input type="button" value="Motherboard" class="filterPart Motherboard">
                    </div>
                    <div class="filterItem" id="storage">
                        <img src="assets/disk 2.svg" alt="">
                        <input type="button" value="Storage" class="filterPart storage">
                    </div>
                    <div class="filterItem" id="RAM">
                        <img src="assets/memory 2.svg" alt="">
                        <input type="button" value="RAM" class="filterPart RAM">
                    </div>
                    <div class="filterItem" id="Case">
                        <img src="assets/cube 2.svg" alt="">
                        <input type="button" value="Case" class="filterPart Case">
                    </div>
                    <div class="filterItem" id="PowerSupply">
                        <img src="assets/thunderbolt 2.svg" alt="">
                         <input type="button" value="Power Supply" class="filterPart PowerSupply">
                    </div>
                    <div class="filterItem" id="Cooling">
                        <img src="assets/fan 2.svg" alt="">
                        <input type="button" value="Cooling" class="filterPart Cooling">
                    </div>   
                </div>
            </div>
</div>