<footer>
    <section class="footer-wrapper">
        <hr>
        <div class="main">
            <div class="left">
                <div class="top">
                    <img src="/logo.svg" alt="" height="24px">
                    <p>NexusBuilds</p>
                </div>
                <div class="bot">
                    <p>Follow us in</p>
                    <div class="btn"><img src="/Facebook.svg" alt="" height="36px"></div>
                    <div class="btn"><img src="/Twitter.svg" alt="" height="36px"></div>
                    <div class="btn"><img src="/Instagram.svg" alt="" height="36px"></div>
                    <div class="btn"><img src="/Youtube.svg" alt="" height="36px"></div>
                </div>
            </div>
            <div class="mid">
                <p>© 2025 NexusBuilds. All rights reserved.</p>
            </div>
            <div class="right">
                <p>Terms of Services</p>
                <p>Customer Service</p>
                <p>About Us</p>
            </div>
        </div>
    </section>
</footer>
<link rel="stylesheet" href="/footer.css">