<section class="shopBlock">
            <div class="descripText">
                <h3>Featured Products</h3>
                <p>Looking for something special? These are our favorite finds right now. Great quality, great deals, and perfect for treating yourself or someone you love.</p>
            </div>
            <div class="itemMenu">
                <%- include('shopItem') %>
                <%- include('shopItem') %>                  
                <a href="<%= '/shop' %>"><div class="view">
                    <img src="/View btn.svg" alt="">
                    <p>View All</p>
                </div></a>
            </div>
        </section>

        <link rel="stylesheet" href="/shopBlock.css">