 <nav>
        <section class="navBtn orders">
            <div class="top">
                <img src="assets/calendar-user.svg" alt="" height="24px">
                <p>Orders</p>
                <img src="assets/angle-down.svg" alt="" height="24px">
            </div>
            <div class="text">
                <p>Ship Orders</p>
            </div>
        </section>
        <section class="navBtn products">            
            <div class="top">
                <img src="assets/mailbox.svg" alt="" height="24px">
                <p>Products</p>
                <img src="assets/angle-down.svg" alt="" height="24px">
            </div>
            <div class="text">
                <p>My Products</p>
            </div>
        </section>
    </nav>