<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <link rel="stylesheet" href="/checkout.css">
    <link rel="stylesheet" href="/navbar.css">
    <link rel="stylesheet" href="/footer.css">
    <title>Document</title>
</head>

<body>

    <%- include("../partials/navbar") %>

        <main>
            <div class="items-wrapper">
                <div class="checkout-wrapper">
                    <div class="checkbox-wrapper">
                        <label>
                            <input type="checkbox" />
                            <span class="checkbox"></span>
                        </label>
                    </div>

                    <p class="select">
                        Select All <span>Delete</span>
                    </p>

                    <p class="total">
                        Total (*#ofitem* item/s): <span>₱0</span>
                    </p>

                    <button class="checkout-btn">
                        Checkout
                    </button>
                </div>
            </div>


        </main>
        <%- include("checkout-partials/checkout") %>

            <%- include("../partials/footer") %>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.2/axios.min.js"></script>

</html>