<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <link rel="stylesheet" href="/checkout.css">
    <link rel="stylesheet" href="/navbar.css">
    <link rel="stylesheet" href="/footer.css">
    <title>Document</title>
</head>

<body>

    <%- include("../partials/navbar") %>

        <main>
            <div class="items-wrapper">
                <%- include("checkout-partials/item") %>
            </div>


        </main>
        <%- include("checkout-partials/checkout") %>

        <%- include("../partials/footer") %>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.2/axios.min.js"></script>
<script src="/middleware/checkSession.js"></script>
</html>