 <h1 class="forgot-pass">Forgot Password</h1>
                <p class="forgot-pass">Enter your e-mail address and we’ll give you reset instructions</p>

                <div class="username-frame forg-pass-frame">
                    <img src="assets/mail.svg" class="input-icon forg-pass-icon">
                    <input type="email" placeholder="Username" class="forgot-pass" id="forgpass-input">
                </div>
                
                <button class="forgot-pass btn">Submit</button>
                <p class="forgot-pass return">Return to <span><a href="login.html">Sign-In</a></span></p>
            