<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/sign.css">
</head>
<body>
    <img src="/bg.jpg" alt="" class="login-bg">
    <div class="login-frame">
        <img src="/logo.svg" class="logo">
        <h2 class="title">NexusBuilds</h2>

        <div class="input-wrapper">
            
            <%- include('forgotPass') %>

        </div>

    </div>
</body>
<link rel="stylesheet" href="/sign.css">
</html>