 <nav>
        <section class="dashboard-btn" id="myOrders">My Orders</section>
        <section class="dashboard-btn" id="shipOrders">Ship Orders</section>
        <section class="dashboard-btn" id="myProducts">My Products</section>
        <section class="dashboard-btn" id="addNewProduct">Add New Product</section>
    </nav>