<nav>
    <a href="<%= '/shopadmin/shiporders' %>">
        <section class="dashboard-btn" id="shipOrders">Ship Orders</section>
    </a>
    <a href="<%= '/shopadmin' %>">
        <section class="dashboard-btn" id="myProducts">My Products</section>
    </a>
    <a href="<%= '/shopadmin/addproduct' %>">
        <section class="dashboard-btn" id="addNewProduct">Add New Product</section>
    </a>
</nav>