<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/footer.css">
    <link rel="stylesheet" href="/shopPage.css">
    <link rel="stylesheet" href="/shopBlock.css">
</head>
<body>
    <%- include('../GeneralPartials/header') %>
    <main id="main">
       <%- include('partials/filters') %>
       

    </main>
    <%- include('../GeneralPartials/footer') %>
</body>
</html>