<div class="checkout-wrapper">
    <div class="checkbox-wrapper">
        <label>
            <input type="checkbox" />
            <span class="checkbox"></span>
        </label>
    </div>

    <p class="select">
        Select All <span>Delete</span>
    </p>

    <p class="total">
        Total (*#ofitem* item/s): <span>₱0</span>
    </p>

    <button class="checkout-btn">
        Checkout
    </button>
</div>