<div class="item-wrapper">
    <div class="checkbox-wrapper">
        <label>
            <input type="checkbox" />
            <span class="checkbox"></span>
        </label>
    </div>

    <div class="product-wrapper">
        <p>Image Here</p>
    </div>

    <div class="details-wrapper">
        <p class="comp-type">*Component-Type*</p>
        <p class="product-name">*Product-Name*</p>
    </div>

    <p class="price-details">
        Price <span>Sale</span>
    </p>

    

    <div class="qty">
        <label for="qty">Qty:</label>
        <input type="number" id="qty"  min="1" max="9" step="1" value="1">
    </div>

    <span class="material-symbols-outlined trash">delete</span>

</div>