*{
    padding: 0;
    margin: 0;
}

body{
    background: #0b1222;
    color: white;
}

.container{
    padding: 5px;
    margin: 10px;
}

.top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.top>p{
    margin: 10px;
    margin-right: auto;
    font-family: inter;
    font-size: 36px;
    margin-left: 20px;
}

.addBtn{
    padding: 10px;
    background: linear-gradient(#912fae,#6c008c);
    border-radius: 10px;
    padding: 10px;
    padding-left: 75px;
    padding-right: 75px;
}

section{
    background: linear-gradient(to bottom,#0f172a,#1e293b);
    border-radius: 16px;
}

.pic{
    height: 100px;
    width: 100px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.product{
    display: flex;
    flex-direction: row;
}

.descrip{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
}

.btns{    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btns>img{
    margin: 20px;
}