<!DOCTYPE html>
<html lang="en">
<head>    
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/footer.css">
    <link rel="stylesheet" href="/homeBlock1.css">
    <link rel="stylesheet" href="/homePcBuild.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('partials/header') %>
    <%- include('partials/sections/homeBlock1') %>

    <%- include('partials/sections/homePcBuild') %>
    <%- include('partials/footer') %>    
</body>
</html>