<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <link rel="stylesheet" href="/navbar.css">
    <link rel="stylesheet" href="/footer.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NexusBuilds</title>
</head>

<body>
    <%- include('../partials/navbar.ejs') %>
    
    <main>
        <div class="block1">
            <div class="sectionL">
                <p>
                    Insert image head
                    (Temporary) <%= user.email %>
                </p>
            </div>
            <div class="sectionR">
                <div class="top">
                    <p>
                        Build Your <span>Ultimate</span> Gaming PC
                    </p>
                </div>
                <div class="mid">
                    <p>Premium components, competitive prices, and expert support for creating the Ultimate Gaming PC.
                    </p>
                </div>
                <div class="bot">
                    <button class="start-build-btn" onclick="window.location.href='/pcbuilder'">Start Building</button>
                    <button class="browse-com-btn" onclick="window.location.href='/shop'">Browse Components</button>
                </div>
            </div>
        </div>
        <hr class="banner-line">
        <section class="block2">
            <div class="descripText">
                <h3>Featured Products</h3>
                <p>Looking for something special? These are our favorite finds right now. Great quality, great deals,
                    and perfect for treating yourself or someone you love.</p>
            </div>
            <div class="itemMenu">
                <div class="item item-block2">
                    <div class="pic">
                        <img src="assets/ryzen-removebg-preview 1.svg" alt="" height="256px">
                    </div>
                    <div class="descrip">
                        <div class="mainDescrip">
                            <div class="top">
                                <div class="left">
                                    <p>Processor</p>
                                    <h5>AMD ryzen 3200g</h5>
                                </div>
                                <div class="right">
                                    <img src="assets/star.svg" alt="" height="14px">
                                    <p>4.9</p>
                                </div>
                            </div>
                            <div class="bot">
                                <div class="left">
                                    <span>
                                        <h6>$15,000.00</h6>
                                    </span>
                                    <span>
                                        <p>$18,000.00</p>
                                    </span>
                                </div>
                                <div class="right">
                                    <p>15 in stock</p>
                                </div>
                            </div>
                        </div>
                        <div class="btn">
                            <p>Add to Cart</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="pic">
                        <img src="assets/ryzen-removebg-preview 1.svg" alt="" height="256px">
                    </div>
                    <div class="descrip">
                        <div class="mainDescrip">
                            <div class="top">
                                <div class="left">
                                    <p>Processor</p>
                                    <h5>AMD ryzen 3200g</h5>
                                </div>
                                <div class="right">
                                    <img src="assets/star.svg" alt="" height="14px">
                                    <p>4.9</p>
                                </div>
                            </div>
                            <div class="bot">
                                <div class="left">
                                    <span>
                                        <h6>$15,000.00</h6>
                                    </span>
                                    <span>
                                        <p>$18,000.00</p>
                                    </span>
                                </div>
                                <div class="right">
                                    <p>15 in stock</p>
                                </div>
                            </div>
                        </div>
                        <div class="btn">
                            <p>Add to Cart</p>
                        </div>
                    </div>
                </div>
                <div class="view" onclick="window.location.href='/shop'">
                    <img src="assets/View btn.svg" alt="">
                    <p>View All</p>
                </div>
            </div>
        </section>
        <section class="block3">
            <div class="descripText">
                <h3>Featured Builds</h3>
                <p>These high-performance builds offer unbeatable value — 
                    get premium components without the hassle of building from scratch.</p>
            </div>
            <div class="itemMenu">
                <div class="item item-block3">
                    <div class="pic">
                        <img src="assets/build1.png" alt="" height="256px">
                    </div>
                    <div class="descrip">
                        <div class="mainDescrip">
                            <div class="top">
                                <div class="left">
                                    <p>Featured PC Build</p>
                                    <h5>Glacier</h5>
                                </div>
                                <div class="right">
                                    <img src="assets/star.svg" alt="star" height="14px">
                                    <p>4.9</p>
                                </div>
                            </div>
                            <div class="bot">
                                <div class="left">
                                    <span>
                                        <h6>$15,000.00</h6>
                                    </span>
                                    <span>
                                        <p>$18,000.00</p>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="btn">
                            <p>Take a Look</p>
                        </div>
                    </div>
                </div>
                <div class="item item-block3">
                    <div class="pic">
                        <img src="https://res.cloudinary.com/dvcmmbasm/image/upload/build2_bcw0z4.png" alt="" height="256px">
                    </div>
                    <div class="descrip">
                        <div class="mainDescrip">
                            <div class="top">
                                <div class="left">
                                    <p>Featured PC Build</p>
                                    <h5>Aurora Frost</h5>
                                </div>
                                <div class="right">
                                    <img src="assets/star.svg" alt="" height="14px">
                                    <p>4.9</p>
                                </div>
                            </div>
                            <div class="bot">
                                <div class="left">
                                    <span>
                                        <h6>$15,000.00</h6>
                                    </span>
                                    <span>
                                        <p>$18,000.00</p>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="btn">
                            <p>Take a Look</p>
                        </div>
                    </div>
                </div>
                <div class="view" onclick="window.location.href='/shop'">
                    <img src="assets/View btn.svg" alt="">
                    <p>View All</p>
                </div>
            </div>
        </section>
        <section class="block4">
            <div class="container">
                <div class="builder-wrapper">
                    <h4>Design Your Dream Gaming PC</h4>
                    <p>Use our interactive PC Builder tool to create a custom gaming rig tailored to your needs and
                        budget. Visualize your build and ensure all components work together perfectly.</p>
                    <button onclick="window.location.href='/pcbuilder'">
                        <p>Launch PC Builder</p>
                        <span class="material-symbols-outlined arrow-forward">arrow_forward</span>
                    </button>
                </div>
                <img src="assets/PCBuilder.svg" alt="" width="800px">
            </div>
        </section>
    </main>

    <%- include('../partials/footer.ejs') %>
</body>
<script>
    const source = document.querySelector('.item.item-block2');
    const targets = document.querySelectorAll(".item.item-block3");

    const { width, height } = source.getBoundingClientRect();

    console.log(width, height);

    console.log(targets);

    targets.forEach(target => {
        target.style.width = `${width+16}px`;
        target.style.height = `${height}px`;
    });

    console.log("Done");
</script>

</html>