*{
    padding: 0;
    margin: 0;
    color: white;
    font-family: inter;
    font-size: 16px;
}

body{
    background-color: #0b1222;
}

section{
    display: flex;
    flex-direction: column;
}

input{
    background-color: #0b1222;
    margin: 10px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    border-color: #d9d9d9;
    padding: 5px;
}

form{
    width: 100%;
}

select{
    background-color: #0b1222;
    margin: 10px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    border-color: #d9d9d9;
    padding: 5px;
}

.line{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.left>.line{
    width: inherit;
}

.line>h4{
    width:100px
}

.row.top{
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 20px;
}

.left {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    align-items: center;
    margin-right: auto;
}


.right{
    display: flex;
    flex-direction: row;
}

.pics.large{
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    aspect-ratio: 1/1;
    border-radius: 10px;
}

.picSmall{
    margin: 10px;
    height: 50px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 5px;
}

.pics.small{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.row.textarea{
    margin:30px;
}

.row.textarea>h4{
    margin-left: 20px;
}

textarea{
    background-color: #0b1222;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}

.row.details{
    align-items: first baseline;
    padding-left: 30px;
    margin-left: 20px;
}

.row.btn{
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addProduct{
    background: #c849ff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 100px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 16px;
}