*{
    padding: 0;
    margin: 0;
}

body{
    
    background: #0b1222;
}

.contain{
    display: flex;
    flex-direction: row;
    
}

nav{
    background: linear-gradient(to bottom,#0f172a,#1e293b);
    width: 25%;
    height: 100%;
    color: white;
    padding-bottom: 500px;
}

.top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.top>p{
    padding-right: 40px;
    margin-right: 40px;
}

.top>img{
    padding: 10px;
    margin: 5px;
}

.text{
     display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}