 <header>
        <div class="headLeft">
            <div class="logoName">
                <img src="/logo.svg" alt="" height="32px">
                <h1>NexusBuilds</h1>
            </div>
        </div>
        <div class="headRight">
            <div class="headerBtn"id="home"><h2>Home</h2></div>
            <div class="headerBtn"id="shop" onclick="goToShop()"><h2>Shop</h2></div>
            <div class="headerBtn"id="pcBuild"><h2>PC Builder</h2></div>
            <div class="headerBtn"id="darkMode"><img src="/sun-o.svg" alt=""height="32px"></div>
            <div class="headerBtn"id="cart"><img src="/cart.svg" alt=""height="32px"></div>
            <div class="headerBtn"id="user"><img src="/user.svg" alt=""height="32px"></div>
        </div>
    </header>
    <link rel="stylesheet" href="/header.css">
    <script src="../../../scripts/header.js"></script>