 <header>
        <div class="headLeft">
            <div class="logoName">
                <img src="/logo.svg" alt="" height="32px">
                <h1>NexusBuilds</h1>
            </div>
        </div>
        <div class="headRight">
            <div class="headerBtn"><h2>Home</h2></div>
            <div class="headerBtn"><h2>Shop</h2></div>
            <div class="headerBtn"><h2>PC Builder</h2></div>
            <div class="headerBtn"><img src="/sun-o.svg" alt=""height="32px"></div>
            <div class="headerBtn"><img src="/cart.svg" alt=""height="32px"></div>
            <div class="headerBtn"><img src="/user.svg" alt=""height="32px"></div>
        </div>
    </header>
    <link rel="stylesheet" href="/header.css">