 <section class="block4">
            <div class="container">
                <div class="descrip">
                    <h4>Design Your Dream Gaming PC</h4>
                    <p>Use our interactive PC Builder tool to create a custom gaming rig tailored to your needs and budget. Visualize your build and ensure all components work together perfectly.</p>
                    <a href="<%= '/pcBuilder' %>"><div class="btn">
                        <p>Launch PC Builder</p>
                        <img src="/arrowWhite.svg" alt="">
                    </div></a>
                </div>
                <div class="pic">
                    <img src="/PCBuilder.svg" alt=""width="650px">
                </div>
            </div>
        </section>
           
    
    
    
    <link rel="stylesheet" href="/homePcBuild.css">