<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/PcProfile.css">
    <link rel="stylesheet" href="/header.css">
</head>
<body>
    <%- include('../GeneralPartials/header') %>
    <main id="main">
        <%- include('partials/PcProfile.ejs') %>
        
       

    </main>
    <%- include('../GeneralPartials/footer') %>

    
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.2/axios.min.js"></script>
<script src="/middleware/checkSession.js"></script>
</html>